name: First Workflow

on:
  workflow_dispatch:

jobs:
  build-and-docker:
    name: Build with Maven & Docker
    runs-on: ubuntu-latest

    steps:
      - name: Get code
        uses: actions/checkout@v4

      - name: Maven Build & Package
        uses: ./.github/actions/maven-build
        with:
          java-version: '17'

      - name: Check Docker version
        run: docker --version
      
      - name: Install Docker Compose
        run: |
          if ! docker compose version >/dev/null 2>&1; then
            echo "Docker Compose not found. Installing..."
            sudo curl -L "https://github.com/docker/compose/releases/download/v2.25.0/docker-compose-linux-x86_64" \
              -o /usr/local/bin/docker-compose
            sudo chmod +x /usr/local/bin/docker-compose
          else
            echo "Docker Compose already installed"
          fi

      - name: Check Docker Compose version
        run: docker compose version

      - name: login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}   

      - name: Build and run with Docker Compose
        run: docker compose up --build -d

      - name: Show running containers
        run: docker ps
      
      - name: wait for mysql to be healthy
        run: |
          echo "Waiting for MySQL to be healthy..."
          for i in {1..30}; do
            if docker compose exec -T mysql mysqladmin ping -h localhost -uroot -proot --silent; then
              echo "MySQL is healthy!"
              exit 0
            fi
            echo "MySQL not ready yet... waiting"
            sleep 10
          done
          echo "MySQL did not become healthy in time"
          docker compose logs mysql
          exit 1

      - name: check application logs
        run: docker compose logs springboot-app

      - name: check application health
        run: |
           echo "Waiting for Spring Boot application..."
           for i in {1..40}; do
           if curl -f http://localhost:2323 > /dev/null 2>&1; then
           echo "Application is UP!"
           exit 0
           fi
           echo "App not ready yet... waiting"
           sleep 5
           done
           echo "Application did not become healthy in time"
           docker compose logs springboot-app
           exit 1
      - name: Tag & Push Docker Image
        run: |
          IMAGE_NAME="${{ secrets.DOCKERHUB_USERNAME }}/springboot-app"
          
          docker tag springboot-app $IMAGE_NAME:latest
          docker tag springboot-app:latest $IMAGE_NAME:${{ github.run_number}}
          
          docker push $IMAGE_NAME:latest
          docker push $IMAGE_NAME:${{ github.run_number}}

      - name: Down Docker Compose
        uses: ./.github/actions/maven-build

