name: First Workflow
on: push
jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
       - name: get code
         uses: actions/checkout@v3
       - name: check files
         run: ls -la
       - name: mvn package
         run: |
              mvn package -DskipTests
              ls -la target/


        