name: First Workflow
on: workflow_dispatch
jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
      - name: Run a one-line script
        run: echo "Hello, World!"
      - name: Run a multi-line script
        run: |
          echo "This is a multi-line script"
          echo "It can span multiple lines"
      - name: printing hi message
        run: echo "hi"