name: First Workflow
on: push
jobs:
  build:
    name: build with maven
    runs-on: ubuntu-latest
    steps:
       - name: Get code
         uses: actions/checkout@v3

       - name: Set up JDK 17
         uses: actions/setup-java@v3
         with:
           java-version: '17'
           distribution: 'temurin'
       - name: Install maven
         run: mvn -version

       - name: Build package
         run: |
            mvn clean package -DskipTests
            ls -la target/
       - name: Upload artifact
         uses: actions/upload-artifact@v6
         with:
           name: my-app
           path: target/*.jar
  Deploy:
    name: Deploy to server
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: my-app
      - name: Verify artifact
        run: ls -la *.jar
      - name: Deploy to server
        run: echo "Deploying to server..."
    